*.sq
*.sql
*.log
app_config.json
*runner.yaml
*config.yaml
*.pyc
*.pyo
__pycache__
idea
*.pem
*.pub
*.tar.gz
*.zip
*.db
secrets.txt
./tmp
./build/*
.idea/*
venv/
venv
venv/*/*
.env
*.pem
.vscode
*.iml
*.xlsx
*.pdf
.DS_Store
.flaskenv
inventory.yaml
log/
configs/
frontend_env.js
config.json
.my.cnf
